@model BookStore.WebUI.Models.BookListViewModel
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<style>

    .alert {
        padding: 5px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        max-height: 30px;
    }

    .myspan {
    }
</style>

 
 
    @foreach (var item in Model.Books)
    {
        string divhidenid = item.ISBN + "divid";
        string alertid = item.ISBN + "alertid";
        <div class="well" style="padding-bottom:50px; ">
            <h3>
                <strong class="text-primary"> @item.Titel  </strong>


                <span id="h" class="pull-right label label-primary">@item.Price.ToString("C") </span>
            </h3>
            <span class="lead">@item.Description</span>



            <div>
                <div id="@divhidenid" class="col-lg-9" style="display:none">
                    <div class="col-lg-1"> <img style="height:30px;width:30px" src="~/IMG/background-transparent-loading-3.gif" /></div>
                    <div id="@alertid" class="alert text-center col-lg-8">
                        <strong>@item.Titel <span class="myspan"></span></strong>
                    </div>

                </div>
                <div class="col-lg-3 pull-right">

                    @using (Ajax.BeginForm("AddToCart", "Cart", new AjaxOptions
                    {
                        LoadingElementDuration = 3000,
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "success",
                        OnFailure = "faild",
                        LoadingElementId = @divhidenid,

                        //
                    }))

                    {
                        <div class="pull-right btn-sm ">
                            @Html.HiddenFor(b => item.ISBN, new { Name = "ISBN" })
                            @Html.Hidden("returnURL0", Request.Url.PathAndQuery)
                            <input class="btn btn-success lead" data-allert-id="@alertid" type="submit" value="Add_To_Cart" />
                        </div>
                    }

                </div>
            </div>
        </div>


    }

    <div class="btn-group-xm pull-right ">
        @{

            if (ViewBag.listall == "list")
            {
                for (int i = 1; i < Model.PagingInfo.TotalPages; i++)
                {
                    @Html.ActionLink(i.ToString(), null, null, new { page = @i }, new { @class = "btn btn-xs btn-primary" });
                }
            }

            else if (Model.SearchPagesNumber > 0)
            {
                for (int j = 1; j < Model.SearchPagesNumber; j++)
                {
                    @Html.ActionLink(j.ToString(), null, null, new { specialization = Model.CurrentSpecilization, page = @j },
                                                                                    new { @class = "btn btn-xs btn-primary " });
                }
            }

            else
            {
                //For Future Customization
            }

        }



    </div>

 


<script>

    function success() {

        $(document).ready(function () {
            $.ajax({
                url: "/cart/CartSummerty",
                type: "GET"
            })
                .done(function (x) {
                    $("#navstatus0212").replaceWith(x);
                    $(".alert").addClass(" alert-success");
                    $(".myspan").text("Successful added");
                });
        });

    }


    function faild() {
        $(document).ready(function () {
            $(".alert").addClass("  alert-danger");
            $(".myspan").text("Failed to add");
        });
    }




    $('.pull-right.label.label-primary').hover(function () {
        $(this).focus();
        $(this).addClass(" view overlay zoom")
       // alert("");
        });








    //$('#searchtxtid').keyup(function () {
    //    var SearchValue = $(this).val();

    //    $.ajax({
    //        url: '/book/search/',
    //        type: 'get',
    //        data: { search: SearchValue },
    //        success: function (result) {
    //        $("#all").replaceWith(result); }
    //        //My database column is called STREET
    //    });
    //});



</script>