@model IEnumerable<BookStore.Domain.Entities.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    tr {
       height:100px;
      
    }
    td {
        vertical-align: middle !important;
        font-size:20px
    }


</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

       
        <th>
            @Html.DisplayNameFor(model => model.ImgagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

   
        <td>
         

            <img style="width:80px;height:80px" class="img-rounded" src=" ../../Bookimages/@item.ImgagePath    " alt="Alternate Text" />

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ISBN }, new { @class = "btn btn-primary btn-xs glyphicon glyphicon-pencil" }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.ISBN}) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.ISBN }, new { @class = "btn btn-danger-xs glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
